.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

body {
    background-color: beige;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
}

p {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: dimgrey;
    font-size: 20px;
}

a {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    text-decoration: none;
}

header {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

button {
    border: none;
    background-color: saddlebrown;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: 16px;
}

nav {
    text-align: center;
}

.section-indx-1 {
    text-align: center;
}

.section-directory-1 {
    text-align: center;
}

.section-creds-0 {
    text-align: center;
}

.template:after {
  content: "";
  display: table;
  clear: both;
}

.template, .temlate-sect-1 {
    float: left;
    width: 50%;
    flex: 50%;
}

@media screen and (max-width: 600px) {
  .template {
    width: 100%;
  }
}